<div class="violet-about">
    <h4 class="v-section-tit">About cxlove</h4>
    <article class="violet-about-det">
        <p id="J_myFace" class="v-my-face"><img src="/avatar.png" alt="Hello cxlove!" width="40px" height="40px" id="J_myFace_img" /></p>
        <p>小码农 cxlove</p>

        <p>本科就读于安徽大学软件工程专业。</p>
        <p>目前在复旦大学攻读研究生学位，研究方向模式识别。</p>
		<p>喜欢算法，喜欢ACM-ICPC，喜欢algorithm。</p>

        <p>坚信algorithm才是王道。</p>
    </article>
    <p class="v-more-right">
        <a href="/about.html"><span>&#10149;</span>More</a>
    </p>
</div><!-- //violet-about -->